force-app/main/default/flows/Verificador_de_Viabilidade_ConnectMax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chamar_API_de_Viabilidade</name>
        <label>Chamar API de Viabilidade</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ConnectMaxCoverageCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Tela_de_Resultado</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>CEP_Input</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConnectMaxCoverageCallout</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Verificador de Viabilidade ConnectMax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verificador de Viabilidade ConnectMax</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Tela_de_Busca_de_CEP</name>
        <label>Tela de Busca de CEP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Chamar_API_de_Viabilidade</targetReference>
        </connector>
        <fields>
            <name>CEP_Input</name>
            <dataType>String</dataType>
            <fieldText>Digite o CEP para verificar a Viabilidade</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Buscar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_de_Resultado</name>
        <label>Tela de Resultado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <fields>
            <name>Texto_Cobertura_Sim</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;SimMensagem do Sistema:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Chamar_API_de_Viabilidade.message}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Possui Cobertura de Fibra?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 147, 102);&quot;&gt;Sim.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Velocidade Máxima Disponível:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Chamar_API_de_Viabilidade.maxSpeed}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Chamar_API_de_Viabilidade.hasCoverage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Chamar_API_de_Viabilidade.message</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>sucesso</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Texto_Cobertura_Nao</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;SimMensagem do Sistema:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Chamar_API_de_Viabilidade.message}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Possui Cobertura de Fibra?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(221, 27, 27);&quot;&gt;Não.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Velocidade Máxima Disponível:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Chamar_API_de_Viabilidade.maxSpeed}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Chamar_API_de_Viabilidade.hasCoverage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tela_de_Busca_de_CEP</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
